.custom-scrollbar::-webkit-scrollbar {
   width: 3px;
   height: 3px;
   border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
   background: #15171c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background: #222429;
   border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #555;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
   display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
